<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zylear.equation.editor.dao.mybatis.equation.editor.EquationMapper">
    <resultMap id="BaseResultMap" type="com.zylear.equation.editor.domain.Equation">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="equation_type" jdbcType="TINYINT" property="equationType"/>
        <result column="equation_category" jdbcType="TINYINT" property="equationCategory"/>
        <result column="equation_name" jdbcType="VARCHAR" property="equationName"/>
        <result column="equation_img" jdbcType="VARCHAR" property="equationImg"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zylear.equation.editor.domain.Equation">
        <result column="equation_latex" jdbcType="LONGVARCHAR" property="equationLatex"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, equation_type, equation_category, equation_name, equation_img, is_deleted, create_time,
        last_update_time
    </sql>
    <sql id="Blob_Column_List">
        equation_latex
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_equation
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM t_equation
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id"
            parameterType="com.zylear.equation.editor.domain.Equation">
        INSERT INTO t_equation (id, equation_type, equation_category,
                                equation_name, equation_img, is_deleted,
                                create_time, last_update_time, equation_latex
        )
        VALUES (#{id,jdbcType=INTEGER}, #{equationType,jdbcType=TINYINT}, #{equationCategory,jdbcType=TINYINT},
                #{equationName,jdbcType=VARCHAR}, #{equationImg,jdbcType=VARCHAR}, #{isDeleted,jdbcType=TINYINT},
                #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP},
                #{equationLatex,jdbcType=LONGVARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.zylear.equation.editor.domain.Equation">
        insert into t_equation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="equationType != null">
                equation_type,
            </if>
            <if test="equationCategory != null">
                equation_category,
            </if>
            <if test="equationName != null">
                equation_name,
            </if>
            <if test="equationImg != null">
                equation_img,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="lastUpdateTime != null">
                last_update_time,
            </if>
            <if test="equationLatex != null">
                equation_latex,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="equationType != null">
                #{equationType,jdbcType=TINYINT},
            </if>
            <if test="equationCategory != null">
                #{equationCategory,jdbcType=TINYINT},
            </if>
            <if test="equationName != null">
                #{equationName,jdbcType=VARCHAR},
            </if>
            <if test="equationImg != null">
                #{equationImg,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateTime != null">
                #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="equationLatex != null">
                #{equationLatex,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zylear.equation.editor.domain.Equation">
        update t_equation
        <set>
            <if test="equationType != null">
                equation_type = #{equationType,jdbcType=TINYINT},
            </if>
            <if test="equationCategory != null">
                equation_category = #{equationCategory,jdbcType=TINYINT},
            </if>
            <if test="equationName != null">
                equation_name = #{equationName,jdbcType=VARCHAR},
            </if>
            <if test="equationImg != null">
                equation_img = #{equationImg,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateTime != null">
                last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="equationLatex != null">
                equation_latex = #{equationLatex,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zylear.equation.editor.domain.Equation">
        UPDATE t_equation
        SET equation_type     = #{equationType,jdbcType=TINYINT},
            equation_category = #{equationCategory,jdbcType=TINYINT},
            equation_name     = #{equationName,jdbcType=VARCHAR},
            equation_img      = #{equationImg,jdbcType=VARCHAR},
            is_deleted        = #{isDeleted,jdbcType=TINYINT},
            create_time       = #{createTime,jdbcType=TIMESTAMP},
            last_update_time  = #{lastUpdateTime,jdbcType=TIMESTAMP},
            equation_latex    = #{equationLatex,jdbcType=LONGVARCHAR}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zylear.equation.editor.domain.Equation">
        UPDATE t_equation
        SET equation_type     = #{equationType,jdbcType=TINYINT},
            equation_category = #{equationCategory,jdbcType=TINYINT},
            equation_name     = #{equationName,jdbcType=VARCHAR},
            equation_img      = #{equationImg,jdbcType=VARCHAR},
            is_deleted        = #{isDeleted,jdbcType=TINYINT},
            create_time       = #{createTime,jdbcType=TIMESTAMP},
            last_update_time  = #{lastUpdateTime,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="findByEquationTypeAndEquationCategory" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_equation
        where equation_type = #{equationType,jdbcType=TINYINT}
        and equation_category = #{equationCategory,jdbcType=TINYINT}
        and is_deleted = 0
    </select>

    <select id="findByIds" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_equation
        where
        id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id,jdbcType=INTEGER}
        </foreach>
    </select>


</mapper>