<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zylear.equation.editor.dao.mybatis.equation.editor.EquationSymbolMapper">
    <resultMap id="BaseResultMap" type="com.zylear.equation.editor.domain.EquationSymbol">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="symbol_name" jdbcType="VARCHAR" property="symbolName"/>
        <result column="symbol_category" jdbcType="TINYINT" property="symbolCategory"/>
        <result column="symbol_latex" jdbcType="VARCHAR" property="symbolLatex"/>
        <result column="is_left" jdbcType="TINYINT" property="isLeft"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zylear.equation.editor.domain.EquationSymbol">
        <result column="symbol_html_content" jdbcType="LONGVARCHAR" property="symbolHtmlContent"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, symbol_name, symbol_category, symbol_latex, is_left, is_deleted, create_time, last_update_time
    </sql>
    <sql id="Blob_Column_List">
        symbol_html_content
    </sql>

    <select id="findAll" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_equation_symbol
        where is_deleted = 0
    </select>

</mapper>