/.idea/*.name
/.idea/artifacts/*.xml
/.idea/*.xml
/.idea/libraries/*.xml
/contract/*.iml
/*.iml
/socialiosvc/*.iml
/contract/target/classes/*.bat
/contract/target/classes/*.txt
/contract/target/*.jar
/contract/target/maven-archiver/*.properties
/contract/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
/socialiosvc/target/classes/*.txt
/socialiosvc/target/classes/*.properties
/socialiosvc/target/classes/*.lock
/socialiosvc/target/classes/com/qingqing/socialio/*.class
/socialiosvc/target/classes/com/qingqing/socialio/config/*.class
/socialiosvc/target/classes/*.yaml
/socialiosvc/target/classes/mybatis/*.xml
/socialiosvc/target/maven-archiver/*.properties
/socialiosvc/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
/socialiosvc/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/*.lst
/socialiosvc/target/*.jar
/socialiosvc/target/*.war
/socialiosvc/target/*.original
/socialiosvc/target/socialiosvc/WEB-INF/classes/*.txt
/socialiosvc/target/socialiosvc/WEB-INF/classes/*.properties
/socialiosvc/target/socialiosvc/WEB-INF/classes/*.lock
/socialiosvc/target/socialiosvc/WEB-INF/classes/com/qingqing/socialio/*.class
/socialiosvc/target/socialiosvc/WEB-INF/classes/com/qingqing/socialio/config/*.class
/socialiosvc/target/socialiosvc/WEB-INF/classes/*.yaml
/socialiosvc/target/socialiosvc/WEB-INF/classes/mybatis/*.xml
/socialiosvc/target/socialiosvc/WEB-INF/lib/*.jar
/socialiosvc/target/classes/com/qingqing/common/util
/socialiosvc/target/classes/com/qingqing/socialio/controller/*.class
/socialiosvc/target/classes/com/qingqing/socialio/dao/mybatis/socialio/*.class
/socialiosvc/target/classes/com/qingqing/socialio/quartzdemo/*.class

/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/.idea/vcs.xml
